<footer>
    <div class="container">
        <div class="row">
            <h3 class="text-center">&copy; 2020 Copyeight Shahnewaz</h3>
        </div>
    </div>
</footer>

<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="jquery.bootstrap-growl.min.js"></script>
<script type="text/javascript" src="js/smooth-scroll.polyfills.min.js"></script>
<script type="text/javascript" src="js/SmoothScroll.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>

</html>