<%- include ("partials/header") %>
<header class="reservation-img">
	<%- include ("partials/navbar")%>

	<div class="hero-section clearfix">
		<h1 class="text-center">About Us</h1>
		
	</div>

</header>

<section class="reservation reservation-bg">
	<div class="container">
		<div class="row">
			<h1 class="text-center text-dark"> our Team</h1>
			<h3 class="text-center">Shahnewaz, Gazi Md.</h3>
			<h3 class="text-center">Foyez, Saied Ahammed</h3>
			<h3 class="text-center">Mahamud, Md.Firoz</h3>
			
			

		</div>

	</div>

	</div>
	</div>
	</div>
	</div>
</section>
<%- include ("partials/footer") %>